@import "tailwindcss";

:root {
  --kasa-red: #99331a;
  --kasa-dark-orange: #842c16;
  --kasa-light-orange: #fffbf9;
  --kasa-black: #0d0d0d;
  --kasa-white: #ffffff;
  --kasa-gray-light: #f5f5f5;
  --kasa-gray-dark: #565656;
}

@theme inline {
  --font-sans: var(--font-inter);
  --color-kasa-red: var(--kasa-red);
  --color-kasa-dark-orange: var(--kasa-dark-orange);
  --color-kasa-light-orange: var(--kasa-light-orange);
  --color-kasa-black: var(--kasa-black);
  --color-kasa-white: var(--kasa-white);
  --color-kasa-gray-light: var(--kasa-gray-light);
  --color-kasa-gray-dark: var(--kasa-gray-dark);
}

body {
  background: var(--kasa-light-orange);
  color: var(--kasa-black);
  font-family: var(--font-sans);
}
